body {
    width: 100%;
    height: 100vh;

}

* {
    font-family: "Noto Sans KR", sans-serif;
}



#game {
    width: 100%;
    height: calc(100vh - 180px);
    position: relative;
    top: 180px;
    background-image: url(img/game.png);
    background-position: center -180px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.game {
    position: absolute;
    opacity: 0;
    transform: translateY(-20%);
}

figure img {
    width: 100%;
    transition: 1s;
}


.on figure .img1 {
    animation: wobble 3.5s ease-out infinite;
}

.on figure .img2 {
    animation: hoverAni 1s infinite;
}

.game1 {
    width: 23vw;
    left: 5%;
    bottom: -5px;
    z-index: 99;

}

.game2 {
    width: 21vw;
    left: 13%;
    top: 5%;
    z-index: 98;
}

.game3 {
    width: 30vw;
    left: 35%;
    top: 30%;
    z-index: 97;

}

.game4 {
    width: 35vw;
    right: 3%;
    bottom: -5px;
    z-index: 90;

}


.video {
    width: 0%;
    height: 0%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.video .inner {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;

}

.video .inner .prev {
    width: 50px;
    height: 50px;
    background-image: url(img/close_btn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    right: -50px;
    display: none;
}

.info {
    width: 400px;
    height: 200px;

    position: absolute;
    z-index: 15;
}


.info_box {
    width: 100%;
    height: 100%;
    background: rgba(11, 11, 11, .5);
    display: none;
    padding: 20px 20px 20px 40px;
}
.info_box p{font-size: 16px;color: #fff;margin-left: 10px;}
.info_box img{width: 35%;display: block;
margin: 0 0 20px 10px;
}

.info .plus_btn {
    width: 50px;
    height: 50px;
    background-image: url(img/plus_btn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.game1 .info {
    top: 45%;
    left: 41%;
}

.game2 .info {
    top: 20%;
    left: 94%;
}

.game3 .info {
    top: 25%;
    left: 41%;
}

.game4 .info {
    top: 5%;
    left: 50%;
}

.video .inner iframe {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.video .inner iframe.on {
    display: block;
}

@keyframes hoverAni {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes wobble {
    0% {
        transform: none;
    }

    15% {
        transform: translate3d(-3%, 0, 0) rotate(-1deg);
    }

    30% {
        transform: translate3d(3%, 0, 0) rotate(2deg);
    }

    45% {
        transform: translate3d(-3%, 0, 0) rotate(-2deg);
    }

    60% {
        transform: translate3d(2%, 0, 0) rotate(1deg);
    }

    75% {
        transform: translate3d(-1%, 0, 0) rotate(-1deg);
    }

    100% {
        transform: none;
    }
}
